.header {
  padding: 14px 0 16px;

  font-size: 25px;
  line-height: 29px;

  color: #212121;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);

  & a {
    color: initial;
    text-decoration: none;
  }

  &__logo {
    max-height: 63px;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    list-style: none outside;
    padding: 0;
    margin: 0;

    &__item {
      padding: 0 30px;

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      display: block;

      padding: 0 0 16px;
      &--current {
        border-bottom: 3px solid #212121;
      }
    }
  }
}
