$color_base: #212121;
$color_light: #f2f2f2;

$color_danger: #d93e30;
$color_second: #f28f16;
$color_primary: #f2b807;
$color_third: #f5db13;
$color_green: #70a83b;

$grass: #70a83b;
$poison: #a974bc;
$fire: #f76545;
$flying: #76aadb;
$water: #76aadb;
$ice: #76aadb;
$bug: #70a83b;
$normal: #76aadb;
$gosth: #76aadb;
