@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;

  font-family: 'Karla', sans-serif;
}

.wrapper {
  overflow: hidden;
  &--index {
    background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  }
}

.page-content {
  min-height: calc(100vh - 174px);
}
